<h2>Admin/ Super Admin Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name, autofocus: true, autocomplete: "name", required: true %></p>
  </div>

<div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="field">
    <%= f.label :phone_number, "Mobile (Twilio OTP)" %><br/>
    <%= f.text_field :phone_number, required: true %>
  </div>

  <div class="field">
    <p><%= f.label :address %></p>
    <p><%= f.text_field :address, required: true %></p>
  </div>

  <div class="field">
    <p><%= f.label :password %></p>
    <p><%= f.password_field :password, autocomplete: "current-password", required: true %></p>
  </div>

  <div class="field">
  <p><%= f.label :confirm_password %></p>
<p><%= password_field_tag "user[confirm_password]", nil, required: true %></p>  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <p><%= f.check_box :remember_me %></p>
      <p><%= f.label :remember_me %></p>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in & Send OTP" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
